<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty
            scope="context"
            name="appName"
            source="spring.application.name"
            defaultValue="car-booking-service"/>

    <appender name="JSON_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "app": "${appName}",
                        "traceId": "%X{traceId}",
                        "spanId": "%X{spanId}",
                        "requestId": "%X{requestId}",
                        "level": "%level",
                        "logger": "%logger{36}",
                        "thread": "%thread",
                        "message": "%message",
                        "context": "%contextName",
                        "exception": "%exception"
                        }
                    </pattern>
                </pattern>

            </providers>

        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

    <logger name="com.motors.velocity.carbookingservice"
            level="INFO"
            additivity="false">

        <appender-ref ref="JSON_CONSOLE"/>

    </logger>

</configuration>